.App {
  font-family: 'Open Sans', sans-serif;
}

.full-height {
  background-color: #e6e5e5;

  .row {

    .card {
      background-color: #3A2755;
      border: none;
      border-radius: 1.5em;
      padding: 2em 1em;

      span {
        text-align: center;
        // margin-bottom: 2em;
        color: white;
        font-weight: 700;
        font-size: .7em;
        font-family: 'Montserrat', sans-serif;
      }

      input {
        border: none;
        border-radius: 5px;
        font-family: 'Montserrat', sans-serif;
        font-size: .7em;
        padding: 1em;
        font-weight: 600;
        color: #3A2755;
        border-left: 5px solid white;


        &::placeholder{
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          font-size: .8em;
          color: #3A2755;
          padding: 5px;
        }

        &:focus{
          border-left: 6px solid #EC837F;
        }
      }

      .todo-list {
        margin-top: 1em;

        .box-list{
          margin-bottom: 5px;

          .checkbox {
            align-self: center;

            // input[type="checkbox"]{
            //   opacity: 0;
            // }

            // label {
            //   margin: 0;
            //   display: inline-block;
            //   // position: ;
            // }

            // label::before, label::after {
            //   position: absolute;
            //   content: "";
            //   display: inline-block;
            // }

            // label::before {
            //   content: "";
            //   display: inline-block;
            //   border: 1px solid white;
            //   height: 15px;
            //   width: 15px;
            //   padding: 1em;

            //   left: 12px;
            //   top: -5px;
            // }

            // label::after {
            //   height: 6px;
            //   width: 12px;
            //   border-left: 2px solid white;
            //   border-bottom: 2px solid white;

            //   transform: rotate(-45deg);
            //   left: 17px;
            //   top: 3px;
            // }

            input[type="checkbox"] + label::after {
              content: none;
            }

            input[type="checkbox"]::checked + label::after {
              content: "";
            }
          }

          .list-thing{
            background-color: white;
            border-radius: 5px;
            padding: 1em;
            font-size: .7em;
            font-family: 'Montserrat', sans-serif;

            &.disable {
              background-color: #7c9e8e;
              text-decoration-line: line-through;
            }
          }
        }
      }

      .btn-add {
        color: white;
        border-radius: 5px;
        margin-left: 5px;
        background-color: #EC837F;
      }

      .img_photo {
        img {
          width: 10em;
          border-radius: 50%;
        }
      }

      .card-body {
        h4 {
          font-family: 'Montserrat', sans-serif;
          font-weight: 800;
          color: white;
          font-size: 1.3em;
        }

        p {
          color: white;
          font-size: .7em;
        }

        .btn {
          width: 100%;
          color: white;
          font-family: 'Montserrat', sans-serif;
          font-size: .7em;
          font-weight: 600;
          border-radius: 1em;
          margin-bottom: 2px;


          &:hover {
            background-color: #EC837F;
          }

          &.skips {

          }
        }

        .btn-class {
          margin: 4em 0 0;
        }
      }
    }
  }
}